# Maven template
target/

# overlays
overlays/

# IntelliJ
/out/
.idea/
*.iml
*.ipr
*.iws
*.ids

# Eclipse IDE
.project
.classpath
.settings/

# Windows template
Thumbs.db

/*.iml
/*.classpath
/*.project

.flattened-pom.xml
